
@{
    ViewBag.Title = "Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sales</h2>

<img src="~/Content/Icons/iconfinder_warning_48_10375.png" height="32" />
<span>Under Construction</span>